<!DOCTYPE html>
<html>
  <head>
    <title>Festival Reviews</title>
    <%= csrf_meta_tags %>

  </head>

  <body>

    <%= render 'layouts/navigation' %>

    <%= yield %>

    <hr>

    <div class="container">
      <footer>
        <p>&copy; 2020 Carla H.</p>
      </footer>
    </div>

  </body>
</html>
